<!--  UBO Slam: /mapping_nodelet/pointcloud_downsampled    
      UBO new dataset:/surfel_map/pointcloud 
      NDT slam: /ndt_map-->
<launch>

  <node pkg="geometric_terrain_classifier" type="geometric_classifier" name="geometric_classifier" output="screen">

    <remap from="/points_raw" to="/scan_assembler_nodelet/assembled_cloud" />

  </node>
  
</launch>
