<!--   /mapping_nodelet/pointcloud_downsampled    /surfel_map/pointcloud -->
<launch>

  <node pkg="geometric_terrain_classifier" type="geometric_classifier" name="geometric_classifier" output="screen">

    <remap from="/points_raw" to="/mapping_nodelet/pointcloud_downsampled" />

  </node>
  
</launch>
